/anaconda-mode/
/elpa/anzu-20160818.619/anzu-autoloads.el
/abbrev_defs
/elpa/anzu-20160818.619/anzu-pkg.el
elpa
/url/cookies
/ede-projects.el
/ac-comphist.dat
/semanticdb/*
/.mc-lists.el
tutorial
url
/auto-save-list/*
/ede-projects.el
/projectile-bookmarks.eld
/srecode-map.el
/tramp
/bookmarks
/irony/CMakeCache.txt
/eshell/history
/irony/CMakeFiles/3.5.2/CMakeCCompiler.cmake
/irony/CMakeFiles/3.5.2/CMakeCXXCompiler.cmake
/.org-id-locations
/irony/cdb-json-projects
/recentf
/projectile.cache
/.#recentf
/history
/.gitignore.rej
/.python-environments